<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 添加用户区域 -->
        <div>
            <input type="text" v-model="name">
            <button @click="addNewUser">添加</button>
        </div>

        <!-- 用户列表区域 -->
        <ul>
            <li v-for="(user,index) in userlist" :key="user.id">
                <input type="checkbox">
                姓名：{{user.name}}
            </li>
        </ul>
    </div>

    <script src="./js/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                name: '',
                userlist: [
                    {id: 1, name: 'zs'},
                    {id: 2, name: 'ls'}
                ]
            },
            methods: {
                addNewUser() {
                    
                }
            }
        })
    </script>
</body>
</html>